body, html, #container {
    height: 100%;
}
#magic-image{
     background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}

  

#body{
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}
#footer{
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}
#body_content{
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}
#body_content{
    background:transparent
}

.bilde1{
    width: 200px;
    height: 200px;
    position: relative;
    right: 10px;;


}

.bilde2{
    width: 200px;
    height: 200px;
    position: relative;
    right: -200px;;
    top: -10px;; 
}

.bilde3{
    width: 200px;
    height: 200px;
    position: relative;
    right: 450px;;
    top: 220px;;
}

#SSS{
    position: relative;
    left: 210px;;
    top: -200px;;
    width: relative;
    font-weight: bold;
    background-color: rgba(44, 136, 44, 0.527);
}
#personal_photo{
    width: 200px;
    height: 200px;
    position: relative;
    right: -800px;;
    top: 160px;;
}
#info1{
    position: relative;
    left: 730px;;
    top: 200px;;
    width: relative;
    font-weight: bold;
    text-align: center;
    background-color: rgba(255, 157, 28, 0.527);
}
p.thick {
    font-weight: bold;
  }

#SSS1{
    position: relative;
    top: -200px;;
    right: -420px;;
    width: relative;
    font-weight: bold;
    background-color: rgba(44, 136, 44, 0.527);
}

#SSS2{
    position: relative;
    top: 20px;;
    right: 230px;;
    width: relative;
    font-weight: bold;
    background-color: rgba(44, 136, 44, 0.527);
}

.poga1 {
    background-color: #FF9E00;
    border: none;
    color: rgb(0, 0, 0);
    padding: 7px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
  }

.poga2 {
    background-color: #FFB843;
    border: none;
    color: rgb(0, 0, 0);
    padding: 7px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
}

.poga3 {
    background-color: #FFC86E; 
    border: none;
    color: rgb(0, 0, 0);
    padding: 7px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
}

#button {
    background-color: rgb(255, 153, 0);
    border: circle;
    color: rgb(0, 0, 0);
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: Arial;
    font-size: 16px;
    font-weight: bold;
    margin: 4px 2px;
    transition-duration: 0.3s;
    cursor: pointer;
  }

#button1:hover {
    background-color: rgb(255, 221, 147);
    color: rgb(255, 176, 57);
}

#button:hover{
    transform: scale(1.12);
    border-radius: 5%;


}